// _buttons.scss

// Mixin para estilos base de botones
@mixin button-base($bg-color, $text-color, $padding: 10px 20px, $border-radius: 5px) {
    display: inline-block;
    padding: $padding;
    border-radius: $border-radius;
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    cursor: pointer;
    border: none;
    font-family: $font-family; // Asegúrate de tener esta variable en _variables.scss
}

// Mixin para estilos de botón primario
@mixin button-primary {
    @include button-base($primary-color, #fff); // $primary-color debe estar en _variables.scss
}

// Mixin para estilos de botón secundario
@mixin button-secondary {
    @include button-base($secondary-color, #fff); // $secondary-color debe estar en _variables.scss
}
